
  <div class="container">
    <div class="single-product" *ngFor=" let product of cart">
      <div class="row">
        <div class="col-6">
          <div class="product-image">

            <ng-image-slider #nav [images]="product.imagearr" [infinite]="true" [autoSlide]="1"
              [imageSize]="{width: '350px', height: '400px'}" slideImage="1"></ng-image-slider>
          </div>
        </div>
        <div class="col-6">
          <div class="breadcrumb">
            <span><a href="#">Home</a></span>
            <span><a href="#">Product</a></span>
            <span class="active">{{product}}</span>
          </div>

          <div class="product">
            <div class="product-title">
              <h2>{{product.name}}</h2>
            </div>
            <div class="product-rating">
              <span><i class="bx bxs-star"></i></span>
              <span><i class="bx bxs-star"></i></span>
              <span><i class="bx bxs-star"></i></span>
              <span><i class="bx bxs-star"></i></span>
              <span><i class="bx bxs-star"></i></span>
              <span class="review">(21 Review)</span>
            </div>
            <div class="product-price">
              <span class="offer-price">${{product.price}}</span>
              <span class="sale-price">$129.00</span>
            </div>

            <div class="product-details">
              <h3>Description</h3>
              <p>{{product.description}}</p>
            </div>
            <div class="product-size" style="display: flex; align-items:flex-end;">
              <h4>Size</h4>

              <div *ngFor="let s of size">
                <label style="margin: 0 8px;">
                  <input type="radio" [(ngModel)]="selectedsize" [value]="s.value" name="size" />
                  {{ s.value }}
                </label>
              </div>
            </div>
            <div class="product-color">
              <h4>Color</h4>

              <div class="color-layout" *ngFor="let c of color">
                <input type="radio" name="color" [id]="c.id" [value]="c.value" class="color-input"
                  [(ngModel)]="selectedcolor" (change)="onSelectColor(c.value)">
                <label [for]="c.id" class="color" [ngStyle]="{'background-color': c.value}"></label>
              </div>

            </div>

          
          <span class="divider"></span>
        </div>

        <button (click)="updateProductDetails(product)">Save Changes</button>


      </div>
    </div>
  </div>
  </div>
