.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out; /* Added a hover effect */
}

.category:hover {
  transform: scale(1.05);
}

h1 {
  text-align: center;
  color: rgb(45, 11, 236);
}

.text {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 87, 34);
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.category:hover .text {
  display: block;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.category img {
  border-radius: 15%;
  transition: filter 0.3s ease, transform 0.3s ease-in-out;
}

.category:hover img {
  filter: brightness(80%);
  transform: scale(1.05);
}

.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: #f5f5f5;
  justify-content: center;
  gap: 20px;
  transition: transform 0.3s ease-in-out; /* Added a subtle transition for the grid items */
}

.grid-container:hover .grid-item {
  transform: scale(1.05);
}

.grid-item {
  width: 100%;
  border-radius: 15%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
