.about-us-container {
    max-width: 600px;
    margin: 20px auto;
  }
  
  h2 {
    color: rgb(0, 174, 255);
    font-size: 30px;
    text-align: center;
    padding-bottom: 25px;
  }
  
  p {
    line-height: 1.5;
    font-size: 20px;
    text-align: center;
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Set minimum height to 100% of the viewport height */
  }
  
  .main-container {
    flex-grow: 1; /* Allow this container to grow and fill the available space */
  }